---
import SpotifyEmbed from "@components/Spotify.astro";
import DiscordEmbed from "@components/Discord.astro";
import { createHash } from "crypto";

const gravatarHash = createHash("md5")
  .update(import.meta.env.EMAIL)
  .digest("hex");
export const prerender = false;
---

<div class="root">
  <div class="wrapper">
    <div class="beside">
      <img
        class="avatar"
        src={`https://gravatar.com/avatar/${gravatarHash}?s=200`}
        alt="Luna"
      />
      <div class="name">Luna &lt;3</div>
    </div>
    <div class="widgets">
      <SpotifyEmbed class="widget" />
      <DiscordEmbed class="widget" />
    </div>
  </div>
</div>

<style>
  .root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
  }
  .beside {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .name {
    font-size: 50px;
    color: #fff;
    font-family: "gg sans";
    padding-left: 40px;
    text-align: center;
  }
  .wrapper {
    padding-top: 30px;
    padding-left: 50px;
  }
  .avatar {
    border-radius: 10%;
    width: 200px;
    height: 200px;
  }

  .widgets {
    margin-top: 10px;
  }
  .widget {
    margin-top: 20px;
  }
</style>
