---
import type { IconDefinition } from "@fortawesome/fontawesome-common-types";

export const prerender = true;

interface Props {
  icon: IconDefinition;
  setHeight?: boolean;
}
const { setHeight = true } = Astro.props;
const width = Astro.props.icon.icon[0];
const height = Astro.props.icon.icon[1];
const svgPath = Astro.props.icon.icon[4] as string;
---

<svg
  class:list={setHeight ? ["fa", "setHeight"] : ["fa"]}
  viewBox={`0 0 ${width} ${height}`}
>
  <path fill="currentColor" d={svgPath}></path>
</svg>

<style>
  .fa.setHeight {
    width: 1em;
    display: grid;
    align-items: center;
  }
</style>
