---
import Fa from "@components/Fa.astro";
import { defaultSong, getData } from "@api/spotify";
import {
  faCompactDisc,
  faMicrophoneLines,
  faFolderClosed,
} from "@fortawesome/free-solid-svg-icons";
import { faSpotify } from "@fortawesome/free-brands-svg-icons";
// const currentSong = await getData();
let songToDisplay = defaultSong;
// if (currentSong.song) songToDisplay = currentSong.song;
export const prerender = false;
---

<div class:list={["spotify", Astro.props.class]}>
  <div class="spotifyBanner"></div>
  <img
    class="spotifyAlbumArt"
    src={songToDisplay.image}
    alt={songToDisplay.name}
  />
  <div class="spotifyNames">
    <div class="spotifySong">
      <a class="spotifySongName" href={songToDisplay.albumUrl}
        >{songToDisplay.name}</a
      >
      <div
        class:list={[
          "spotifyArtistSpace",
          !songToDisplay.artist ? "hidden" : "",
        ]}
      >
        &nbsp;-&nbsp;
      </div>
      <a
        class:list={["spotifyArtistUrl", !songToDisplay.artist ? "hidden" : ""]}
        href={songToDisplay.artistUrl}
      >
        <Fa icon={faMicrophoneLines} />
        &nbsp;
        <div class="selector">{songToDisplay.artist}</div>
      </a>
    </div>
    <a
      class:list={[
        "spotifyAlbum",
        songToDisplay.album === songToDisplay.name ? "hidden" : "",
      ]}
      href={songToDisplay.albumUrl}
    >
      <Fa icon={faCompactDisc} />
      &nbsp;
      <div class="selector">
        {songToDisplay.album}
      </div>
    </a>
    <a
      class:list={[
        "spotifyPlaylist",
        !songToDisplay.playlistUrl ? "hidden" : "",
      ]}
      href={songToDisplay.playlistUrl}
    >
      <Fa icon={faFolderClosed} />
      &nbsp;
      <div class="selector">{songToDisplay.playlist}</div>
    </a>
    <br class="spotifyLineBreak" />
    <a class="spotifyIcon" href="https://open.spotify.com">
      <Fa icon={faSpotify} />
    </a>
    <a class="spotifyAvatar" href="https://open.spotify.com">
      <img class="hidden" />
    </a>
  </div>
</div>

<script>
  const getAverageColor = (img: HTMLImageElement) => {
    const max = 10; // Max size (Higher num = better precision but slower)
    const { naturalWidth: iw, naturalHeight: ih } = img;
    const ctx = document.createElement("canvas").getContext("2d")!;
    const sr = Math.min(max / iw, max / ih); // Scale ratio
    const w = Math.ceil(iw * sr); // Width
    const h = Math.ceil(ih * sr); // Height
    const a = w * h; // Area

    img.crossOrigin = "anonymous";
    ctx.canvas.width = w;
    ctx.canvas.height = h;
    ctx.drawImage(img, 0, 0, w, h);
    const data = ctx.getImageData(0, 0, w, h).data;
    let r = 0,
      g = 0,
      b = 0;

    for (let i = 0; i < data.length; i += 4) {
      r += data[i];
      g += data[i + 1];
      b += data[i + 2];
    }

    r = ~~(r / a);
    g = ~~(g / a);
    b = ~~(b / a);

    return { r, g, b };
  };

  function toHex(c: number) {
    var hex = c.toString(16);
    return hex.length == 1 ? "0" + hex : hex;
  }

  function invertColor(hex: string) {
    if (hex.indexOf("#") === 0) {
      hex = hex.slice(1);
    }
    // convert 3-digit hex to 6-digits.
    if (hex.length === 3) {
      hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
    }
    if (hex.length !== 6) {
      throw new Error("Invalid HEX color.");
    }
    // invert color components
    var r = (255 - parseInt(hex.slice(0, 2), 16)).toString(16),
      g = (255 - parseInt(hex.slice(2, 4), 16)).toString(16),
      b = (255 - parseInt(hex.slice(4, 6), 16)).toString(16);
    // pad each with zeros and return
    return "#" + padZero(r) + padZero(g) + padZero(b);
  }

  function padZero(str: string, len?: number) {
    len = len || 2;
    var zeros = new Array(len).join("0");
    return (zeros + str).slice(-len);
  }

  function setAverage(image: HTMLImageElement) {
    const { r, g, b } = getAverageColor(image);
    const hex = `#${toHex(r)}${toHex(g)}${toHex(b)}`;
    (
      image.parentElement!.firstElementChild! as HTMLDivElement
    ).style.backgroundColor = hex;
  }

  function hide(elem: HTMLElement) {
    if (!elem.classList.contains("hidden")) elem.classList.add("hidden");
  }
  function show(elem: HTMLElement) {
    if (elem.classList.contains("hidden")) elem.classList.remove("hidden");
  }

  let data: iSpotifyData = {
    song: {
      name: "Nothing Playing",
      album: "Nothing Playing",
      albumUrl: "https://open.spotify.com",
      image: "/img/nosong.png",
      time: 0,
      duration: 99999,
    },
  };

  async function displayData() {
    let showBreak1 = true,
      showBreak2 = true;
    const albumArt = document.querySelector(
      ".spotifyAlbumArt"
    ) as HTMLImageElement;
    albumArt.onload = () => setAverage(albumArt);
    albumArt.alt = data.song.name;

    const songName = document.querySelector(
      ".spotifySongName"
    )! as HTMLAnchorElement;
    songName.href = data.song.albumUrl;
    songName.innerText = data.song.name;

    const artistUrl = document.querySelector(
      ".spotifyArtistUrl"
    )! as HTMLAnchorElement;
    const artistBreak = document.querySelector(
      ".spotifyArtistSpace"
    )! as HTMLDivElement;
    const artistText = document.querySelector(
      ".spotifyArtistUrl .selector"
    )! as HTMLDivElement;
    if (data.song.artist && data.song.artistUrl) {
      artistUrl.href = data.song.artistUrl;
      artistText.innerText = data.song.artist;
      show(artistUrl);
      show(artistBreak);
    } else {
      hide(artistUrl);
      hide(artistBreak);
    }

    const spotifyAlbum = document.querySelector(
      ".spotifyAlbum"
    )! as HTMLAnchorElement;
    spotifyAlbum.href = data.song.albumUrl;
    if (data.song.album === data.song.name) {
      hide(spotifyAlbum);
      showBreak2 = false;
    } else show(spotifyAlbum);

    (
      document.querySelector(".spotifyAlbum .selector")! as HTMLDivElement
    ).innerText = data.song.album;

    (document.querySelector(".spotifyAlbumArt")! as HTMLImageElement).src =
      data.song.image !== "" ? data.song.image : "/public/img/nosong.png";

    const playlistAnchor = document.querySelector(
      ".spotifyPlaylist"
    )! as HTMLAnchorElement;
    const playlistText = document.querySelector(
      ".spotifyPlaylist .selector"
    )! as HTMLDivElement;
    if (data.song.playlist && data.song.playlistUrl) {
      playlistText.innerText = data.song.playlist;
      playlistAnchor.href = data.song.playlistUrl;
      show(playlistAnchor);
      showBreak2 = false;
    } else hide(playlistAnchor);

    (document.querySelector(".spotifyAvatar")! as HTMLAnchorElement).href =
      data.url || "https://open.spotify.com";

    const avatarImg = document.querySelector(
      ".spotifyAvatar img"
    )! as HTMLImageElement;
    if (data.avatarUrl) {
      avatarImg.src = data.avatarUrl;
      show(avatarImg);
    } else hide(avatarImg);

    const lineBreak = document.querySelector(
      ".spotifyLineBreak"
    )! as HTMLBRElement;
    if (showBreak1 && showBreak2) show(lineBreak);
    else hide(lineBreak);
  }

  async function fetchData() {
    data = await fetch("/spotify").then((res) => res.json());

    await displayData();
    return;
  }
  await fetchData();

  setInterval(fetchData, 5000);
</script>

<style>
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .hidden {
    display: none !important;
  }
  .spotify {
    min-width: 340px;
    width: fit-content;
    height: 100px;
    border-radius: 0.75em;
    display: flex;
    position: relative;
    flex-direction: row;
    font-family: "gg sans";
    background-color: #2b2d31;
    color: #ffffff;
  }
  .spotifyBanner {
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-direction: column;
    height: 30px;
    width: 100%;
    object-fit: cover;
    background-color: #2b2d31;
  }
  .spotifyAlbumArt {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 26px;
    padding-bottom: 26px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 2;
    animation: rotate 5s infinite linear;
  }
  .spotifyNames {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 5px;
    z-index: 2;
  }
  .spotifyNames a {
    color: #ffffff;
    text-decoration: inherit;
  }
  .spotifyAlbum,
  .spotifyPlaylist,
  .spotifySong,
  .spotifySong a,
  .spotifySong .fa {
    display: inline-flex;
  }

  .spotifyIcon {
    color: #f2f3f5;
    width: 20px;
    height: 16px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    filter: brightness(0.8);
    z-index: 3;
  }
  .spotifyAvatar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
  .spotifyAvatar img {
    border-radius: 0 0.75em 0 0.75em;
    height: 48px;
    width: 48px;
  }
</style>
